body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: url('images/cover.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: .2;
}

.background div {
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
}

.container {
    z-index: 20;
}

h1,
h2,
h3 {
    background-color: yellowgreen;
    border: 4px solid yellow;
    border-radius: 24px;
}

h1 {
    transform: rotate(-3deg);
    display: block;
    padding: 40px;
    font-size: 60px;
    animation: h1-animation 2500ms infinite;
}

h2 {
    transform: rotate(5deg);
    display: inline-block;
    padding: 60px 80px;
    margin: -70px 0;
    font-size: 200px;
    animation: h2-animation 3000ms infinite;
}

h3 {
    padding: 20px 30px;
    font-size: 30px;
    animation: h3-animation 1500ms infinite;
}

h1,
h2,
h3 {
    transition: all ease-in-out 250ms;
    margin: 0;
}

ul {
    padding: 0 0 0 40px;
}
ul li {
    text-align: left;
}

h1:hover {
    transform: rotate(4deg);
}

h2:hover {
    transform: rotate(-3deg);
}

.history {
    display: inline-block;
    margin-left: 50px;
}

@keyframes h1-animation {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(-3.5deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes h2-animation {
    0% {
        transform: rotate(5deg);
    }
    10% {
        transform: rotate(-3deg);
    }
    30% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes h3-animation {
    0% {
        transform: rotate(2deg);
    }
    68% {
        transform: rotate(3.5deg);
    }
    100% {
        transform: rotate(2deg);
    }
}